<h2>Your Listings</h2>
<div class='table-responsive'>
  <table class='table'>
    <tr>
      <th>Address</th>
      <th>Rooms</th>
      <th>Bathrooms</th>
      <th>Square Feet</th>
      <th>Property Type</th>
      <th>Description</th>
      <th>Price</th>
      <th>Commission</th>
      <th>Client</th>
      <th>Phase</th>
      <th>Action</th>
    </tr>
    <% @houses.each do |house| %>
    <tr>
      <td>
        <a href='/houses/<%= house.id %>'><%= house.address %></a>
      </td>
      <td><%= house.rooms %></td>
      <td><%= house.bathrooms %></td>
      <td><%= house.sqft %></td>
      <td><%= house.info %></td>
      <td><%= house.description %></td>
      <td><%= number_to_currency(house.price) %></td>
      <td><%= number_to_currency(house.commission) %></td>
      <td>
        <a href='/clients/<%= house.client.id %>'><%= house.client.first_name %> <%= house.client.last_name %>
      </td>
      <td>Phase: <%= house.phase %></td>
      <td>
        <a href='/houses/<%= house.id %>' data-method='DELETE' >Delete</a>
        <a href='/houses/<%= house.id %>/edit'>Edit</a>
    <% end %>
  </table>
</div>
<div class='container'>
  <h3>Add a Listing</h3>
  <form action='/houses' method='POST'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <div class='form-group'>
      <label for='house[address]'>Address:</label>
      <input type='text' class='form-control' name='house[address]' placeholder='1111 House St. City, ST 11111'>
    </div>
    <div class='form-group'>
      <label for='house[rooms]' class='control-label'>Rooms</label>
      <select class='form-control' name='house[rooms]'>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
        <option value='6'>6</option>
        <option value='7'>7</option>
        <option value='8'>8</option>
        <option value='9'>9</option>
        <option value='10'>10</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='house[bathrooms]' class='control-label'>Bathrooms</label>
      <select name='house[bathrooms]' class='form-control'>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
        <option value='6'>6</option>
        <option value='7'>7</option>
        <option value='8'>8</option>
        <option value='9'>9</option>
        <option value='10'>10</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='house[sqft]' class='control-label'>Square Feet</label>
      <input type='text' name='house[sqft]' class='form-control'>
    </div>
    <div class='form-group'>
      <label for='house[info]' class='control-label'>Property Type</label>
      <input type='text' name='house[info]' class='form-control'>
    </div>
    <div class='form-group'>
      <label for='house[description]' class='control-label'>Description</label>
      <textarea name='house[description]' class='form-control'></textarea>
    </div>
    <div class='form-group'>
      <label for='house[price]' class='control-label'>Price</label>
      <input type='text' name='house[price]' class='form-control'>
    </div>
    <div class='form-group'>
      <label for='house[client_id]' class='control-label'>Client</label>
      <select name='house[client_id]' class='form-control'>
      <% @clients.each do |client| %>
        <option value='<%= client.id %>'>
          <%= client.first_name %> <%= client.last_name %>
        </option>
      <% end %>
      </select>
    </div>

    <input type='submit' value='Submit'>
  </form>
</div>
