

<div class='container'>







<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Listing</a></li>
  <li class><a data-toggle="tab" href="#info">Informacion</a></li>
  <li><a data-toggle="tab" href="#menu1">Task List</a></li>
  <li><a data-toggle="tab" href="#menu2">Showings/Comments</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class='container'>
      <div class='row'>
        <div class='col-md-4'>
          <h4>Address</h4>
          <p><%= @house.address %></p>
        </div>

        <div class='col-md-4'>
          <h4>Rooms</h4>
          <p><%= @house.rooms %></p>
        </div>

        <div class='col-md-4'>
          <h4>Bathrooms</h4>
          <p><%= @house.bathrooms %></p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <h4>Square Feet</h4>
          <p><%= @house.sqft %></p>
        </div>
        <div class='col-md-4'>
          <h4>Description</h4>
          <p><%= @house.description %></p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <h4>Price</h4>
          <p><%= number_to_currency(@house.price) %></p>
        </div>
        <div class='col-md-4'>
          <h4>Client</h4>
          <p>
	<% if @house.client.first_name != 'None' %>
            <a href='/clients/<%= @house.client.id %>'><%= @house.client.first_name %> <%=  @house.client.last_name %></a>
	<% else %>
	<p>None</p>
	<% end %>
          </p>
        </div>
        <div class='col-md-4'>
            <h4>Commission</h4>
            <p><%= number_to_currency(@house.commission) %></p>
        </div>
      </div>
    </div>
  </div>




<div id="info" class="tab-pane fade in">
  <div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <% @infolist.each do |list| %>


        <% if list.name == 'Roofing' %>
          <div id='roof'>
            <h4>Información sobre el techo</h4>
            <p>
              Año: <%= list.year %>
              <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='PATCH'>
                <div class='form-group'>
                  <input type='text' name='info[year]' placeholder='Año' value='<%= list.year %>' class='form-control'>
                  <input type='submit' value='Update' class='form-control btn-primary'>
                </div>
              </form>
            </p>
            <p>
              Tipo: <%= list.kind %>
              <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='PATCH'>
                <div class='form-group'>
                  <input type='text' name='info[kind]' placeholder='Tipo' value='<%= list.kind %>' class='form-control'>
                  <input type='submit' value='Update' class='form-control btn-primary'>
                </div>
              </form>
            </p>
          </div>


      <% elsif list.name == 'Foundation' %>
        <div id='foundation'>
          <h4>Información sobre la fundación:</h4>
          <p>
            Año: <%= list.year %>
            <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <input type='hidden' name='_method' value='PATCH'>
              <div class='form-group'>
                <input type='text' name='info[year]' placeholder='Año' value='<%= list.year %>' class='form-control'>
                <input type='submit' value='Update' class='form-control btn-primary'>
              </div>
            </form>
          </p>
          <p>
            Tipo: <%= list.kind %>
            <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <input type='hidden' name='_method' value='PATCH'>
              <div class='form-group'>
                <input type='text' name='info[kind]' placeholder='Tipo' value='<%= list.kind %>' class='form-control'>
                <input type='submit' value='Update' class='form-control btn-primary'>
            </div>
            </form>
          </p>
        </div>


      <% elsif list.name == 'Stove' %>
        <div id='stove'>
          <h4>Información sobre estufa:</h4>
          <p>
            Año: <%= list.year %>
            <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <input type='hidden' name='_method' value='PATCH'>
              <div class='form-group'>
                <input type='text' name='info[year]' placeholder='Año' value='<%= list.year %>' class='form-control'>
                <input type='submit' value='Update' class='form-control btn-primary'>
              </div>
            </form>
          </p>
          <p>
            Tipo: <%= list.kind %>
            <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <input type='hidden' name='_method' value='PATCH'>
              <div class='form-group'>
                <input type='text' name='info[kind]' placeholder='Tipo' value='<%= list.kind %>' class='form-control'>
                <input type='submit' value='Update' class='form-control btn-primary'>
              </div>
            </form>
          </p>
        </div>
      </div>

      <div class='col-md-3'>
        <% elsif list.name == 'HVAC' %>
          <div id='air'>
            <h4>Información sobre aire:</h4>
            <p>
              Año: <%= list.year %>
              <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='PATCH'>
                <div class='form-group'>
                  <input type='text' name='info[year]' placeholder='Año' value='<%= list.year %>' class='form-control'>
                  <input type='submit' value='Update' class='form-control btn-primary'>
                </div>
              </form>
            </p>
            <p>
              Tipo: <%= list.kind %>
              <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='PATCH'>
                <div class='form-group'>
                  <input type='text' name='info[kind]' placeholder='Tipo' value='<%= list.kind %>' class='form-control'>
                  <input type='submit' value='Update' class='form-control btn-primary'>
                </div>
              </form>
            </p>
          </div>


      <% elsif list.name == 'Remodeling' %>
        <div id='remodel'>
          <h4>Remodelaciones a la casa:</h4>
            <p>
              Año: <%= list.year %>
              <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='PATCH'>
                <div class='form-group'>
                  <input type='text' name='info[year]' placeholder='Año' value='<%= list.year %>' class='form-control'>
                  <input type='submit' value='Update' class='form-control btn-primary'>
                </div>
              </form>
            </p>
            <p>
              Tipo: <%= list.kind %>
              <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='PATCH'>
                <div class='form-group'>
                  <input type='text' name='info[kind]' placeholder='Tipo' value='<%= list.kind %>' class='form-control'>
                  <input type='submit' value='Update' class='form-control btn-primary'>
                </div>
              </form>
            </p>
          </div>


        <% elsif list.name == 'Fireplace' %>
          <div id='chimney'>
            <h4>Información sobre la chimenea:</h4>
            <p>
              Año: <%= list.year %>
              <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='PATCH'>
                <div class='form-group'>
                  <input type='text' name='info[year]' placeholder='Año' value='<%= list.year %>' class='form-control'>
                  <input type='submit' value='Update' class='form-control btn-primary'>
                </div>
              </form>
            </p>
            <p>
              Tipo: <%= list.kind %>
              <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='PATCH'>
                <div class='form-group'>
                  <input type='text' name='info[kind]' placeholder='Tipo' value='<%= list.kind %>' class='form-control'>
                  <input type='submit' value='Update' class='form-control btn-primary'>
                </div>
              </form>
            </p>
          </div>
        </div>

        <div class='col-md-3'>
          <% elsif list.name == 'Key' %>
            <div id='key'>
              <h4>Copia de la llave:<h4>
                <p><%= list.kind %></p>
                <form class='info_form'class='info_form'action='/infos/<%= list.id %>' method='POST'>
                  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                  <input type='hidden' name='_method' value='PATCH'>
                  <div class='form-group'>
                    <select name='info[kind]' class='form-control'>
                      <option value='Si'>Si</option>
                      <option value='No'>No</option>
                    </select>
                    <input type='submit' value='Update' class='form-control btn-primary'>
                  </div>
                </form>
                </div>



      <% elsif list.name == 'Septic' %>
        <div id='septic'>
          <h4>Tiene Septic?</h4>
            <p>
              <%= list.kind %>
              <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%=   form_authenticity_token %>'>
                <input type='hidden' name='_method' value='PATCH'>
                <div class='form-group'>
                  <select name='info[kind]' class='form-control'>
                    <option value='Si'>Si</option>
                    <option value='No'>No</option>
                  </select>
                  <input type='submit' value='Update' class='form-control btn-primary'>
                </div>
              </form>
            </p>
          </div>


      <% elsif list.name == 'Utilities' %>
        <div id='utilities'>
          <p>
            <h4>Estan prendidas todas las utilidades para la inspección?</h4>
            <%= list.kind %>
            <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <input type='hidden' name='_method' value='PATCH'>
              <div class='form-group'>
                <select name='info[kind]' class='form-control'>
                  <option value='Si'>Si</option>
                  <option value='No'>No</option>
                </select>
                <input type='submit' value='Update' class='form-control btn-primary'>
              </div>
            </form>
          </p>
        </div>


      <% elsif list.name == 'Schools' %>
        <div id='schools'>
          <h4>Escuelas?</h4>
          <p>Primaria: <%= list.primary_school %></p>
          <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='PATCH'>
            <div class='form-group'>
              <input type='text' name='info[primary_school]' value='<%= list.primary_school %>' class='form-control'>
              <input type='submit' value='Update' class='form-control btn-primary'>
            </div>
          </form>

          <p>Secundaria: <%= list.high_school %></p>
          <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='PATCH'>
            <div class='form-group'>
              <input type='text' name='info[high_school]' value='<%= list.high_school %>' class='form-control'>
              <input type='submit' value='Update' class='form-control btn-primary'>
            </div>
          </form>

          <p>Prepa: <%= list.prepa %></p>
          <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='PATCH'>
            <div class='form-group'>
              <input type='text' name='info[prepa]' value='<%= list.prepa %>' class='form-control'>
              <input type='submit' value='Update' class='form-control btn-primary'>
            </div>
          </form>
        </div>
      </div>


    <div class='col-md-3'>
      <% elsif list.name == 'Photographer' %>
      <div id='photographer'>
        <h4>Cuando puede venir el fotógrafo </h4>
        <p><%= list.photographer %></p>
        <form class='info_form'action='/infos/<%= list.id %>' method='POST'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <input type='hidden' name='_method' value='PATCH'>
          <div class='form-group'>
            <input type='date' name='info[photographer]' class='form-control'>
            <input type='submit' value='Add' class='form-control btn-primary'>
          </div>
        </form>
      </div>
      <% end %>
    <% end %>


    <div id='attractions'>
      <h4>Atracciones/Negocios</h4>
        <% if @house.attractions %>
          <% @house.attractions.each do |attraction| %>
            <p><%= attraction.name %></p>
          <% end %>
        <% end %>

      <form class='info_form' action='/attractions/<%= @house.id %>' method='POST'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <div class='form-group'>
          <input type='text' name='attraction[name]' class='form-control'>
          <input type='submit' value='Add' class='form-control btn-primary'>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>


  <div id="menu1" class="tab-pane fade">
    <div class='container'>
      <h2>Phase <%= @house.phase %> Task List:</h2>
      <div id='tasks'>
          <% @house.tasklists.first.tasks.each do |task| %>
            <div id='<%= task.id %>'>
              <div class='row'>
                <div class='col-md-6'>
                  <p class='h4'><%= task.task %></p><br>
                </div>
                <div class='col-md-6'>
                  <a id='<%= task.id %>' class="btn btn-large btn-primary logout text-white task_button" data-method='DELETE' href="/tasks/<%= task.id %>">Check!</a>
                  <!-- <button class='check_button' id='<%= task.id %>'>Check2</button> -->
                  <br>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>


  <div id="menu2" class="tab-pane fade">
    <div class='container'>
    <div class='row'>
    <div id='showings'>
      <div class='col-md-6'>
        <h4>Showings:</h4>
        <% @showings.each do |showing| %>
          <p><%= showing.day.strftime('%B %d, %Y') %> <%= showing.when.strftime('%I:%M %P') %></p>
        <% end %>
      </div>

      <div class='col-md-6'>
        <form class='info_form'action='/showings/<%= @house.id %>' method='POST'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <div class='form-group'>
          <input type='date' name='showing[day]' class='form-control'>
          <input type='time' name='showing[when]' class='form-control'>
        <input type='submit' value='Add' class='form-control btn-primary'>
      </form>
    </div>
  </div>
  </div>

  <div class='row'>
  <div class='col-md-6'>
    <div id='other_comments'>
      <h4>Otros comentarios que quieren que ponga la agente?</h4>
      <% @housecomments.each do |comment| %>
        <p><%= comment.description %></p>
      <% end %>
    </div>
  </div>
    <div class='col-md-6'>
      <form class='info_form'action='/comments/<%= @house.id %>' method='POST'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='comment[topic]' value=0>
        <div class='form-group'>
          <textarea name='comment[description]' class='form-control'></textarea>
          <input type='submit' value='Add' class='btn-primary form-control'>
        </div>
      </form>
    </div>
</div>
</div>
</div>


</div>
    <script>
      $(document).ready(function() {
        // TASK LIST AJAX
        $(".task_button").click(function(e){
          e.preventDefault();
          var id = e.target.id
          console.log(id);
          $.ajax({
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url:  `/tasks/${id}`,
            data: {"_method":"delete"},
            success: function(res){
              console.log(res);
               $(`#${id}`).remove();
               if ($('#tasks').children().length == 0) {
                 console.log('here');
                 location.reload();
               }
            }
        });
        return false
    });

    // INFORMATION LIST AJAX
    // $('.info_form').submit(function(e) {
    //   e.preventDefault();
    //   console.log(e);
    // });

  });

    </script>
