

<h2><%= @client.first_name %> <%= @client.last_name %></h2>

<h4>Address</h4>
<% @client.houses.each do |house| %>
<p><a href='/houses/<%= house.id %>'><%= house.address %></a></p>
<% end %>

<h4>Email Address:</h4>
<p><%= @client.email %></p>

<h4>Phone Number:</h4>
<p><%= @client.phone %></p>

<h4>Birthday:</h4>
<% if !@client.birthday.nil? %>
<p><%= @client.birthday.strftime('%m/%d/%Y') %></p>
<% end %>

<h4>Status:</h4>
<p><%= @client.listing %></p>
<form action='/clients/<%= @client.id %>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <input type='hidden' name='_method' value='PATCH'>
  <select name='client[listing]' value='<%= @client.listing %>'>
    <option value='Active'>Active</option>
    <option value='Pending'>Pending</option>
    <option value='Prospect'>Prospect</option>
    <option value='Dead'>Dead</option>
  </select>
  <input type='submit' value='Change'>
</form>




<% if @client.buyer %>
<h4>Type</h4>
<p>Buyer</h4>

<h4>Financer:</h4>
<p><%= @client.buyer.financer %></p>

<h4>Cash</h4>
<p><%= @client.buyer.cash %></p>

<h4>Purchase Type:</h4>
<p><%= @client.buyer.purchase_type %></p>

<% elsif @client.investor %>
<h4>Type</h4>
<p>Investor</h4>

<h4>Profit Margin</h4>
<p><%= @client.investor.profit_margin %></p>

<h4>Sales Price</h4>
<p><%= @client.investor.sales_price %></p>

<% else %>
<h4>Type</h4>
<p>Seller</p>
<% end %>


<h3>Add Contact</h3>
<form action='/contacts/<%= @client.id %>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <label for='contact[method]'>Method</label>
  <select name='contact[method]'>
    <option value='phone'>Phone</option>
    <option value='email'>Email</option>
    <option value='text'>Text</option>
    <option value='direct mail'>Direct Mail</option>
    <option value='door'>Door Knock</option>
  </select>

  <label for='contact[description]'>Description</label>
  <input type='text' name='contact[description]'>

  <label for='contact[notes]'>Extra Notes</label>
  <textarea name='contact[notes]'></textarea>

  <input type='submit' value='Submit'>
</form>

<h3>Recent Contacts</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Method</th>
    <th>Description</th>
    <th>Notes</th>
  </tr>
<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.created_at.strftime('%B, %d, %Y') %></td>
    <td><%= contact.method %></td>
    <td><%= contact.description %></td>
    <td><%= contact.notes %></td>
  </tr>
<% end %>
</table>

<h3>Alerts</h3>

<!-- ADD ALERTS -->
