<div class='container'>
<div class='row'>
<div class='col-md-8'>
  <div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Name</h5>
      </div>
      <p class="mb-1"><%= @client.first_name %> <%= @client.last_name %></p>
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Address</h5>
      </div>
      <% @client.houses.each do |house| %>
        <p><a href='/houses/<%= house.id %>'><%= house.address %></a></p>
      <% end %>
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Email</h5>
      </div>
      <p><%= @client.email %></p>
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Phone</h5>
      </div>
      <p><%= @client.phone %></p>
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Birthday</h5>
      </div>
      <% if !@client.birthday.nil? %>
        <p><%= @client.birthday.strftime('%m/%d/%Y') %></p>
      <% end %>
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Status</h5>
      </div>
      <p><%= @client.listing %></p>
      <div>
        <form action='/clients/<%= @client.id %>' method='POST'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <input type='hidden' name='_method' value='PATCH'>
          <input type='hidden' name='list_adjust' value='true'>
          <select name='client[listing]' value='<%= @client.listing %>'>
            <% if @client.listing.capitalize! != 'Active' %>
            <option value='Active'>Active</option>
            <% end %>
            <% if @client.listing.capitalize! != 'Pending' %>
            <option value='Pending'>Pending</option>
            <% end %>
            <% if @client.listing.capitalize! != 'Prospect' %>
            <option value='Prospect'>Prospect</option>
            <% end %>
            <% if @client.listing.capitalize! != 'Dead' %>
            <option value='Dead'>Dead</option>
            <% end %>
          </select>
          <input type='submit' value='Change' class='btn-primary'>
        </form>
      </div>
    </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Type</h5>
        </div>
        <% if @client.buyer %>
          <p>Buyer</p>
          <p><strong>Financer:</strong> <%= @client.buyer.financer %></p>
          <p><strong>Cash:</strong> <%= @client.buyer.cash %></p>
          <p><strong>Purchase Type:</strong> <%= @client.buyer.purchase_type %></p>
        <% elsif @client.investor %>
          <p>Investor</p>
          <p><strong>Profit Margin:</strong> <%= @client.investor.profit_margin %></p>
          <p><strong>Sales Price:</strong> <%= @client.investor.sales_price %></p>
        <% end %>
      </div>
  </div>
</div>
<div class='col-md-4'>
    <h3>Alerts</h3>
  <div class='pre-scrollable'>
    <ul class="list-group alerts">
      <% if @client.listing != 'Dead' %>
      <% if @contacts.empty? %>
        <li class="list-group-item list-group-item-danger">You have not made contact with <a href='/clients/<%= @client.id %>'><%= @client.first_name %> <%= @client.last_name %></a>.</li>
      <% elsif @client.contacts.last.created_at + 7.days < DateTime.now.to_date %>
          <li class="list-group-item list-group-item-danger">You have not made contact with <a href='/clients/<%= @client.id %>'><%= @client.first_name %> <%= @client.last_name %></a> in over a week!</li>
      <% end %>
      <% end %>
      <% if !@client.birthday.nil? %>
      <% if @client.birthday.strftime('%m %d') == Date.today.strftime('%m %d') %>
        <li class="list-group-item list-group-item-success">Today is <a href='/clients/<%= @client.id %>'><%= @client.first_name %> <%= @client.last_name %>'s</a> birthday</li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>

</div>


</div>


















<div class='container'>
  <div class='row'>
  <div class='col-md-8'>
<h3>Recent Contacts</h3>
<table class='table table-hover table-bordered'>
  <tr>
    <th>Date</th>
    <th>Method</th>
    <th>Description</th>
    <th>Notes</th>
  </tr>
<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.created_at.strftime('%B, %d, %Y') %></td>
    <td><%= contact.method %></td>
    <td><%= contact.description %></td>
    <td><%= contact.notes %></td>
  </tr>
<% end %>
</table>
</div>


<div class='col-md-4'>
  <h3>Add Contact</h3>
  <form action='/contacts/<%= @client.id %>' method='POST'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <div class='form-group'>
      <label for='contact[method]'>Method</label>
      <select name='contact[method]' class='form-control'>
        <option value='phone'>Phone</option>
        <option value='email'>Email</option>
        <option value='text'>Text</option>
        <option value='direct mail'>Direct Mail</option>
        <option value='door'>Door Knock</option>
      </select>
    </div>

    <div class='form-group'>
      <label for='contact[description]'>Description</label>
      <input type='text' name='contact[description]' class='form-control'>
    </div>

    <div class='form-group'>
      <label for='contact[notes]'>Extra Notes</label>
      <textarea name='contact[notes]' class='form-control'></textarea>
    </div>

    <input type='submit' value='Submit' class='btn-primary'>
  </form>
</div>
</div>
</div>
