<!DOCTYPE html>
<html>
  <head>
    <title>Natasha</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <%= render 'partials/navigation' %>
    <% end %>
    <%= render 'partials/flash_messages' %>
    

    <%= yield %>
  </body>
</html>
