<!DOCTYPE html>
<html>
  <head>
    <title>Natasha</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/flash_messages' %>
    <% if session[:user_id] %>
      <a href="/sessions/<%= session[:user_id] %>/edit">Profile</a>
      <a href='/logout'>Log Out</a>
    <% end %>

    <%= yield %>
  </body>
</html>
